body {
  line-height: 1.7;
}

header {
  background-color: black;
  font-family: "Sniglet", cursive;
  padding: 5px;
  color: white;
  text-align: center;
}

.container {
  width: 100%;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

#btnsdiv {
  width: 100%;
  padding-bottom: 10px;
}
#giphyapi {
  width: 100%;
  display: flex;
}
#populate {
  width: 70%;
  background-color: rgb(207, 203, 203);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
#searchColumn {
  width: 30%;
  padding: 100px 0px 0px 40px;
}

#searchTab {
}

.title {
  font-size: 12px;
  text-transform: uppercase;
}

.btnClass {
  background-color: rgb(16, 74, 122);
  padding: 10px;
  margin: 5px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid rgb(57, 58, 87);
  border-radius: 5px;
}

.displayAnimal {
  border-radius: 7px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  font-size: 16px;
}

.btnClass:hover {
  background-color: blue;
}
.btnClass:active {
  background-color: rgb(5, 152, 172);
}

#errorDisplay {
  font-size: 14px;
  color: red;
}
